<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zhuanglx.demo.dao.mapper.DbaMapper">
	
    <select id="find" parameterType="Map" resultType="com.zhuanglx.demo.common.dto.DbaDto"> 
    	select * from t_dba t where 1=1 
    	<if test="page.query.xxx != null">
        		and t.xxx like CONCAT('%',#{page.query.xxx},'%')
        </if>
        <if test="page.query.yyy != null">
        		and t.yyy like CONCAT('%',#{page.query.yyy},'%')
        </if>
    	<if test="page != null">
        		limit #{page.startIndex}, #{page.pageSize}
        </if>
    </select>
    <select id="totalCount" parameterType="Map" resultType="long">
        select count(*) from t_dba t where 1=1  
    </select>

</mapper>